body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    display: flex;
    flex-direction: column;
}

.pushable {
    min-height:100vh;
}

.title {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #2185d0;
}

.ui.container.login-form {
    padding: 100px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}